<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 
      SQLite connection string - database file at project root folder.
      Satisfies: CRUD Operations - Database connection using SQLite
    -->
    <add name="KauRestaurantDB" 
         connectionString="Data Source=C:\Users\faisa\Desktop\Group9_CPIS-358_IS1_WEB\KAU_Restaurant_DataBase.db;Version=3;"
         providerName="System.Data.SQLite" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    
    <!-- Satisfies: Using Sessions - enable session state -->
    <sessionState mode="InProc" timeout="20" />
    
    <authentication mode="None" />
  </system.web>
  
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
